---

// Third-party imports
import "@/styles/global.css";

// Local imports
import Navbar from "@modules/navigation/Navbar.astro";
import Footer from "@modules/navigation/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-mx">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
